/*navbar*/

.navbar-light .navbar-nav .active>.nav-link{
  color: #00b0aa !important;
}
.navbar-light .navbar-nav .nav-link{
  color: #CC0066;
}
/* #navbarNav ul a .nav-link {
  color: #00b0aa !important;
} */


html{
  scroll-behavior: smooth;
}
h1{
    font-family: 'Caveat', cursive !important;
    text-align: center;
}
h2{
    font-family: 'Caveat', cursive;
    color: white;
}
body{
    font-family: 'Roboto', sans-serif;
}
.fondo__navbar{
    display: flex;
    background-color: #ffffff;
    font-family: 'Caveat', cursive;
    font-size: x-large;
    position: sticky;
    height: 100px;
    width: 100vw;

}
.nav__logo {
    width: 40px;
    background-color: white;
    fill: white;

}
.icono__logo{
  height: 90px;
  width: auto;

}
/*principal*/
.imagen__principal{
    width: 100vw;
    height:100vh;
    
}

.sobremi {
  background-image: url(../img/principal_mobile.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.texto_encima{
  position: relative;
  top: 500px;
  left: 60px;
}
/*sobre mi*/
.texto{
  background-color: #ffcc00;
  color: black;
  align-content: center;
  text-align: center;
  padding: 40px;
  text-align: justify;
 

  
}
.titulo_negro{
  color: black;
}
/*experiencia*/
.iconos{
    
    color:white;
    display: inline-block;
    text-decoration: none;
    padding: 20px 40px;
    text-align: center;
}
#areas{
  background-color: #FF6666;
  object-fit: cover;
  width: 100%;
  padding: 50px;
}
article{
  display: inline-block;
  padding: 20px 80px;
  text-align: center;
}
 
  

/*portafolio*/
.bg_img_1{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-image: url(assets/img/ckl.jpg);
}
.imagen_pequeña{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: 280px;
height: auto;
}
.espacio_galeria{
  height: 50px;
}

.fondo_portafolio{
  background-color: #00b0aa;
  color: white;
  text-align: center;
  padding-top: 40px;
padding-bottom: 40px;}
/*contacto*/
.contacto{
    background-color: #CC0066;
    width: 100vw;
    height: 400px;
    padding-top: 30px;
    text-align: center; 
    color: #ffffff;
    align-items: center;

}
.fondo_contacto{
  text-align: center;
  background-color: #cb5774;
  width: 100vw;
  height: 300px;
  padding-top: 30px;
  color: #ffffff;
}
/*footer*/
.redes{
text-align: center;
padding-top: 250px;
background-color: #66CCCC;
color: white;
width: 100vw;
height: 400px;

}
i{
padding-left: 7px;
padding-right: 7px;
color: #ffffff;
}


@media (min-width: 600px) { 
  .sobremi {
      background-image: url(../img/imagen_principal.jpg);
  }

  .texto {
    padding: 40px 100px;
  }

}
@media (min-width: 1200px) {
  .texto {
    padding: 40px 400px;
  }

}